// colors

$blue: #46b1de;
$light-blue: #a1c7d4;
$gradient-blue: #0591cc;
$white: #fff;
$foggy-white: #dde0dc;
$gray: rgba(27, 29, 31, 0.51);
$black: #1b1d1f;
$dark-blue: #0f2c4a;

// font

$basicFont: "Roboto", sans-serif;
$secondaryFont: "Sofia Sans", sans-serif;
