// colors

$blue: #46b1de;
$light-blue: #a1c7d4;
$gradient-blue: #0591CC;
$white: #fff;
$foggy-white: #DDE0DC;
$black: #1B1D1F;
$dark-blue: #0f2c4a;

// font

$basicFont: 'Roboto', sans-serif;
$secondaryFont: "Sofia Sans", sans-serif;