@import 'reset';
@import 'fonts';
@import 'variables';
@import 'extends';
@import 'mixins';
@import 'keyframes';
@import 'shared-components';
@import 'header.scss';
@import 'main-info.scss';
@import "cards";
@import "reasons";
@import "services";
@import "form";
@import "album";
@import "footer";

body {
 @extend .font-styles;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    padding: 0 25px;
  }

  &--form {
    @media screen and (max-width: 768px) {
      padding: 0;
    } 
  }
}