/* @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-weight: 400;
  font-family: "Sofia Sans";
  font-style: normal;
  src: url(./../fonts/sofia-sans-regular.woff2) format("woff2"),
    url(./../fonts/sofia-sans-regular.woff) format("woff");
}

:root {
  --blue: #46b1de;
  --light-blue: #a1c7d4;
  --gradient-blue: #0591CC;
  --white: #fff;
  --foggy-white: #DDE0DC;
  --black:  #1B1D1F;
  --dark-blue: #0f2c4a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
font-weight: 400;
font-size: 16px;
color: var(--black);
line-height: 140%;
}

a {
  text-decoration: none;
}

.link {
  color: var(--black);
}

.link:hover {
  color: rgb(102, 98, 98);
}

.container {
  width: 1180px;
  margin: 0 auto;
}

/* header, */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 0 34px;
}

/* logo */
.logo-container {
  display: flex;
  align-items: center;
  padding-bottom: 9px;
  padding-right: 54px;
}

.logo-img {
  width: 77.57px;
  height: 80.56px;
  margin-right: 7.43px;
}

.company {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  color: var(--blue);
  font-family: "Sofia Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.company-name--header {
  font-size: 38px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* line-height: 140%; */
  text-transform: uppercase;
}

.company-specialization--header {
  font-size: 26.8525px;
}

/* menu */

.menu-container,
.info-wrapper{
  display: flex;
  align-items:flex-start;
  padding: 18px 0;
}

.menu-list {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  text-transform: capitalize;

line-height: 19px;
}

/* info-wrapper */
.info-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

/* telephone  */

.tel-container,
.languages {
  display: flex;
  align-items:flex-start;
}

.tel-img {
  margin-right: 5px;
  transform: translate(0, -4px);
}

/* languages */

.languages {
  gap: 12px;
  transform: translate(0px, -2px);
}

.lang-link {
 font-size: 20px;
  text-transform: uppercase;
}

.lang-link--current {
  font-weight: bold;
}

.lang-pipe {
  font-size: 20px;
}

/* main */

main {
  padding: 0 0 125px 0;
}

.main-info {
  padding: 180px 0 106px;
  min-width: 1180px;
  background-image: url(./../assets/lady.png), url(./../assets/background.jpg);

  background-position: 87% 4%, 0% 0%;
  background-size: 41.5%, cover;
  background-repeat: no-repeat, no-repeat;
}


.main-title {
  display: flex;
  flex-direction: column;
  width: 39%;
  margin: 0px;
  text-transform: uppercase;
font-size: 40px;
line-height: 130%;
letter-spacing: 0.1em;
}

.subtitle {
  color: var(--blue);
}

.text {
  width: 39%;
  margin: 30px 0 48px;
  /* line-height: 140%; */
}

/* link-buttons */

.link-btns {
  display: flex;
  justify-content: space-between;
  width: 40.3%;
}

.link-btn {
  padding: 16px 0;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 180px;
height: 60px;
/* line-height: 140%; */
border-radius: 8px;
}

.link-btn--dark {
  color: var(--white);
  background: linear-gradient(97.59deg, var(--blue) 9.8%, var(--gradient-blue) 95.1%);
  box-shadow: 0px 2px 10px var(--blue);
}

.link-btn--light {
  color: var(--blue);
  background: var(--white);
border: 1px solid var(--foggy-white);
box-shadow: 0px 2px 10px var(--foggy-white);
border-radius: 8px;
}

.link-btn:hover {
  filter: brightness(90%);
}

.link-btn--dark:hover {
  color: var(--white);
}

.link-btn--light:hover {
  color: var(--blue);
}

/* cards */

.cards {
  display: grid;
  grid-template-columns: 280px 280px 280px;
  column-gap: 70px;
  margin: 0 0 50px;
  padding: 0 100px;
  width: 100%;
  transform: translate(0, -50px);
}

.card {
  display: flex;
  align-items: center;
  padding: 21px 57px 21px 14px;
  background: var(--white);
border: 1px solid #D8E1E1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  gap: 14px;
}

.card-number {
  color: var(--blue);
  font-size: 65px;
  line-height: 76px;
}

/* reasons */
.section-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  margin-bottom: 5px;
font-weight: 400;
font-size: 34px;
line-height: 130%;
}

.subtitle-section {
  color: var(--blue);
  font-weight: bold;
}

.text--section {
  text-align: center;
  width: 49%;
  margin: 0 auto;
}

.reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  row-gap: 12px;
  column-gap: 40px;
  grid-auto-flow: column;
  margin: 50px 80px;
  padding: 16px 20px;
  background: var(--light-blue);
  border-radius: 15px;
}

.reason {
  border-radius: 15px;
  padding: 10px 20px 40px 20px;
  background: var(--white);
}

.reason-title {
  display: flex;
  align-items: center;
  gap: 18px;
  color: var(--blue);
  /* font-family: "Muller", sans-serif;
  font-weight: 700; */
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0 20px;
}

.reason-number {
  font-weight: 400;
font-size: 40px;
}

.reason-title-text--sm {
  padding: 0 18px 0 0;

}

.reason-text {
  line-height: 19px;
  margin: 0;
}

/* footer */

footer {
  background: rgb(161, 199, 212);
  background: linear-gradient(
    90deg,
    rgba(161, 199, 212, 1) 0%,
    rgba(10, 130, 171, 1) 100%
  );
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 25px;
  }
}

@media screen and (max-width: 600px) {
  .reasons {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

footer {
  min-width: 1180px;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
}

/*FOOTER-INFO*/

.footer-info {
  color: var(--dark-blue);
}
.company--footer {
  font-family: inherit;
}

.company--footer {
  color: var(--dark-blue);
}

.company-name {
  text-transform: uppercase;
}

.company-specialization {
  font-size: 16px;
}

/* menu--footer */

.info-container--footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.menu-list--footer {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: capitalize;
}

.menu-item--footer {
  margin: 15px 0;
}

.menu-item-link--footer {
  color: var(--dark-blue);
  font-size: 16px;
}

/* Languages */

.lang-link--footer {
  color: var(--dark-blue);
}

.workshift {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.workshift-title {
  margin: 0 0 5px 3px;
  font-size: inherit;
}

/* CONTACTS */

.contacts {
  color: var(--white);
  width: 27%;
}

.contacts-title {
  font-family: "Muller";
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 400;
  margin: 0 0 15px 0;
}

.address {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.company-name-footer {
  margin: 10px 0;
}

.footer-link {
  color: var(--white);
}

.footer-link:hover {
  filter: brightness(90%);
}

.contacts-links {
  width: 70%;
}

.tel-container--footer,
.social-media {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  margin: 5px 0;
}

.social-media {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.social-media-img--whatsapp {
  vertical-align: text-bottom;
}

.inst-mail-container {
  display: grid;
  row-gap: 5px;
  grid-template-columns: auto;
}

.instagram-link,
.email-link {
  display: flex;
  gap: 30px;
  align-items: center;
}

.email-img-footer,
.email-text-footer {
  transform: translate(-2px);
}

.email-text-footer {
  transform: translate(-4px);
}

.copyright {
  text-align: end;
  font-size: 12px;
  margin: 15px 0;
}
